* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #5f9ea0;
}

.app {
  width: 90%;
  max-width: 650px;
  background: #ffff;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1 {
  font-size: 45px;
  font-weight: 600;
  border-bottom: 1px solid #708090;
  padding-bottom: 30px;
}
.quiz {
  padding: 20px 0;
}
.quiz h2 {
  font-size: 32px;
  font-weight: 500;
  color: #191970;
}
.btn {
  display: grid;
  background: #f5f5f5;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gray;
  color: black;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  font-size: 18px;
}
.btn:hover:not([disabled]) {
  background: #222;
  color: #f5f5f5;
}
.btn:disabled {
  cursor: no-drop;
}
#next-btn {
  background: #b329d5;
  width: 150px;
  font-size: 20px;
  font-weight: 300;
  padding: 8px;
  margin: 20px auto 0;
  border: 2px solid rgb(164, 35, 182);
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.correct {
  background: #9aeabc;
}
.incorrect {
  background: #ff9393;
}
